$font-family = 'Be Vietnam', sans-serif
$renti = #7B2DEB
$gray = #979797
$error = red
$input = #303133
$btn-black = #252432
flex-column =
	display flex
	flex-direction column
image-center =
	background-size cover
	background-repeat no-repeat
	background-position center
font(size,weight,color)
	font-family $font-family
	font-weight weight
	font-size size
	color color
button(b_color, color, radius, bo_color)
	background-color b_color
	color color
	border-radius radius
	border 1px solid bo_color
area(wi, he)
	width wi
	height he
flex-center =
	display flex
	justify-content center
	align-items center
