@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet')
@import "global"
body
	overflow auto !important
.el-tag--plain
	background-color #fff
	border-color #7b2deb36
	color #7b2deb
	margin 2px
.el-divider--horizontal
	height 5px
	margin 16px 0
.reserveFit
	height 100vh
	background white
	padding 5%
.viewer-canvas
	background-color #000000e3
.glide
	align-self flex-start
	display flex
.glide__slide
	// width 23% !important
	.el-card
		img
			height 25px
.el-input-number--mini
	line-height 27px !important
.vc-rounded-lg
	border none !important
.vc-arrows-container
	z-index 2 !important
.vc-day-content[data-v-47ef1cd6]
	font-family 'Be Vietnam', sans-serif !important
	// border-radius 6px !important
.vc-rounded-full
	border-radius 6px !important
.vc-text-gray-900
	color $renti !important
	width 80% !important
	margin 5% 10% 0% 10%
	border none
.vc-day[data-v-47ef1cd6]
	width 77% !important
.vc-highlights[data-v-47ef1cd6]
	border-radius 6px
	border none
	border 1px solid #eee4fc
	margin 1px 5px 1px 5px
.vc-text-gray-600
	color white !important

.vc-bg-purple-600
	background-color $renti
.vc-bg-purple-200
	background-color $renti
.vc-text-purple-900
	color white !important
	color $renti
	font-weight 200
	// background white
	border none !important
.vc-day-content[data-v-47ef1cd6]
	border 1px solid $renti
	&:hover
		background #C580F2
		color white
.vc-title[data-v-d137fa42]
	text-transform capitalize
	font 16px 600 auto
.vc-svg-icon[data-v-5572e632]
	stroke white
	stroke-width 3px
	border none
	border-radius 40px
	area 40px 40px
	background-color $renti
.vc-text-gray-400
	color #CACACA
	background-color #F0F0F0
	border 1px solid #70707021 !important
.vc-grid-cell[data-v-3ca35a05]
	margin-bottom 4px

.container-top
	height 100vh
	padding-top 17%
	.gallery
		display none
	.carousel
		position relative
		z-index 0
		height 60%
		.btn-show-photos
			position absolute
			z-index 3
			background-color #00000085
			border-radius 10px
			margin 2%
			border 1px solid white

		.image
			display none
		.el-carousel--horizontal
			height 100%
		.carousel__img
			area 100% 100%
			-webkit-background-size cover
			-moz-background-size cover
			-o-background-size cover
			background-size cover
			background-position center
	.el-button
		font 15px 400 white
		background-color #252432
		border-radius 30px
		border none
	h1
		font auto 400 black
	h3
		font 14px normal #666666
	.info-hotel
		margin 5%
.container-middle
	.show-dates
		display flex
		justify-content space-between
		border 1px solid #E4E4E4
		margin 1% 10%
		align-items center
		padding 3%
		font-family 'Be Vietnam', sans-serif
		flex-direction column
		box-shadow 0px 3px 6px -2px #7b2bde8c
		.el-button
			button #252432 white 7px #252432
			margin-top 5%
			a
				font white 400 white
				text-decoration none
	.type-rooms
		display flex
		// flex-direction column
		justify-content center
		align-items start
		margin 0% 10%
		align-items center
		.el-card
			height 100%
			&__body
				height 100%
		.container_slider
			width 60%
			margin 0 5%
			display flex
			align-self self-start
			align-items center
			position relative
			/deep/ .glide__slides
				height 100%
			.el-dialog
				width 80%
				height auto
				&__header
					display block
					padding 0
					.el-dialog__close
						&:focus
						&:hover
							color $renti
		.reserve-detail
			width 100%
			// margin-top 5%
			.el-card
				.el-card__body
					p
						margin 0
			&__body
				display flex
				flex-direction column-reverse
		.el-button
			background-color $renti
			font auto bold white
			// margin-top 5%
		.button-left
		.button-right
			background #000000
			position absolute
			border 1px
		.button-right
			right -1rem
		.button-left
			left -1.5rem
			z-index 2
		.el-card
			cursor auto
			.withoutDisp
				font-size 15px
				font-weight bold
				text-align center
			p
				font 16px 400 auto
				margin 10% 0% 10% 0%
			.price-p
				background-color #7fffd47d
				border-color aquamarine
				width 75%
				text-align center
				margin 0
				font-weight bold
				margin-bottom 16px
				cursor auto
			.div-servicios
				display flex
				flex-direction column
				height 100%
				justify-content space-between
			.servicios
				width 100%
				{flex-column}
				&__item
					font 12px 400 #808080
					margin 0
					&__icon
						margin-right 4%
			.verMas-button
				margin-top 30%
				background-color #000000
				width 100px
				align-self center
			&__body
				{flex-column}
				align-items center
				.el-input-number
					width 100%
				.el-input-number__decrease, .el-input-number__increase
					color white
					background-color $renti
	.reserved
		position fixed
		bottom 0
		z-index 3
		width 100%
		p
			font-weight bold
		.reserveButton
			font-weight bold
			background $renti
			color white
			border 1px solid white
			width 120px
			font-size 17px
		.el-card
			&__body
				display flex
				justify-content space-around
				p:first-child
					font 18px bold $renti
			.el-dialog
				width 100%
	.show-description
		font-family 'Be Vietnam', sans-serif
		margin 5% 10%
		p:first-child
			font 20px bold $renti
		p:nth-child(2)
			font-size 15px
			text-align justify
	.rates
		display flex
		justify-content space-between
		align-items center
		p
			font-size 25px
		.space
			span
				font 13px bold #666
				margin-left 5px
			.view
				color $renti
				border 1px solid #CACACA
	.map
		height 500px
	.modalHab
		.el-dialog
			area 70% auto
			&__body
				display flex
				justify-content space-between
				align-items center
				.el-carousel
					&--horizontal
						width 65%
					&__container
						height 25rem
					&__item
						.el-image
							&__inner
								height 25rem
				.el-card
					align-self flex-start
					border none
					box-shadow none
					&__body
						padding 1rem 0.5rem 1rem 0.5rem
					.servicios
						h1
							font 15px bold $renti
						&__item
							&__icon
								margin-right 1rem

@media screen and (min-width:764px)
	.vc-day[data-v-47ef1cd6]
		width 77% !important
	.container-top
		padding-top 8%
		height auto
		background-image url('../assets/images/fondo-detail.png')
		background-repeat no-repeat
		background-position center
		background-position align-content center
		overflow hidden
		background-size cover
		background-position center
		.info-hotel
			margin 2% 10%
		h1, h3
			color white
		.carousel
			display none
		.gallery
			display block
			display grid
			grid-template-columns repeat(auto-fill, 1fr)
			grid-template-rows repeat(5, 5.2vw)
			grid-gap 8px
			margin 0% 10% 0% 10%
			position relative
			z-index 0
			.image
				display none
			.el-button
				grid-column-start 8
				grid-column-end 10
				grid-row-start 5
				grid-row-end 6
				position absolute
				z-index 1
				width 80%
				border-radius 7px
				background-color #252432a6
			&__img
				area 100% 100%
				object-fit cover
			&__item--1
				grid-column-start 1
				grid-column-end 4
				grid-row-start 1
				grid-row-end 6
			&__item--2
				grid-column-start 4
				grid-column-end 7
				grid-row-start 1
				grid-row-end 6
			&__item--3
				grid-column-start 7
				grid-column-end 10
				grid-row-start 1
				grid-row-end 6
	.container-middle
		.show-dates
			margin 1% 10%
			padding 1%
			flex-direction row
			.el-button
				margin 0
		.show-description
			display flex
			justify-content space-between
			p:nth-child(2)
				width 64%
		.map
			area 80% 500px
			margin 0% 10%
		.type-rooms
			justify-content center
			.el-card
				height 100%
				&__body
					height 100%
			.reserve-detail
				width 30%
				.reserve-detail__body
					width 100%
					justify-content space-between
					flex-direction row
	// header
	// 	background transparent
	// 	.Nav_container
	// 		background transparent
	// 		li
	// 			// color white
	// 			border-bottom none
	// 			&:hover
	// 				border-bottom 2px solid white
				// a
				// 	color white
		// .Nav_header
		// 	&_mobile
		// 		img
		// 			content url('../assets/images/logos/logo-home.png')


